* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1400px;
    margin: auto
}

.header {
    background: #F6F6F9;
    padding-bottom: 18px;
}

.headers {
    display: flex;
    padding: 47px;
    justify-content: space-between;
    align-items: center;
}

.headers .header_left {
    align-items: center;
}

.headers .header_left img:nth-child(2) {
    margin-bottom: 1px;
    margin-left: 23px;
}

.header .header_items {
    display: flex;
    justify-content: space-between;

}

.header .header_items .item {
    padding: 8px;
    background: white;
    align-items: center;

}

.header .header_items .item:nth-child(3) a {
    display: flex;
    align-items: center;
}

.header .header_items .item span {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: block;
    color: #FFFFFF;
    margin-left: 10px;
}

.header .header_items .item:nth-child(3) {
    background-image: url(../img/telegram.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 146px;
    height: 40px;

}

.header .header_items .item:nth-child(2) {
    margin-right: 32px;
}

.header .header_items .item:nth-child(1) {
    margin-right: 32px;

}

.header .nav {
    width: 94%;
    padding: 21px 25px;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
    margin: auto;
}

.header .nav a {
    color: #515151;
    font-size: 18px;
    font-weight: 600;
    font-family: monospace;
}

.header .nav .list_nav {
    display: flex;
    justify-content: space-between;
}

.header .img_nav {
    text-align: center;
    margin-top: 18px;
}

.header .img_nav img {
    width: 94%;
}

main .main_info {
    width: 94%;
    margin: auto;
    height: 100%;
    background: #F6F6F9;
    border-radius: 5px;
    padding: 30px 35px;
    margin-top: 22px;
    display: flex;
    justify-content: space-between;
}

main .main_info .items_info:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

main .main_info .info_items:nth-child(1) {
    display: flex;
}

main .main_info .info_items:nth-child(1) span {
    margin-left: 25px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}

main .main_info .items_info:nth-child(2) {
    display: flex;
    justify-content: space-between;
}

main .main_info .items_info:nth-child(2) img {
    /* margin-left: -40px; */
}

main .main_info .items_info:nth-child(2) span {
    font-size: 24px;
    font-weight: 900;
    margin-top: 5px;
}

main .main_info .items_info:nth-child(2) p {
    margin-top: 5px;
}

main .main_info .items_info:nth-child(2) span.informatsi {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #DB0000;
    margin-left: 1px;
}

main .main_info .items_info:nth-child(3) {
    display: flex;
    justify-content: space-between;

}

main .main_info .items_info:nth-child(3) img {
    /* margin-left: -60px; */
    width: 70px;
    height: 70px;
}
main .main_info .items_info:nth-child(2) img {
    /* margin-left: -60px; */
    width: 70px;
    height: 70px;
}
main .main_info .items_info:nth-child(1) img {
    /* margin-left: -60px; */
    width: 70px;
    height: 70px;
}
main .main_info .items_info:nth-child(4) img {
    /* margin-left: -60px; */
    width: 70px;
    height: 70px;
}


main .main_info .items_info:nth-child(4) {
    display: flex;
    justify-content: space-between;
}

main .main_info .items_info:nth-child(4) {
    /* margin-right: 100px; */
    /* margin-right: 100; */
    padding-right: 100px;
}

main .main_info .items_info:nth-child(4) span {
    margin-left: 15px;
}

main .tezkor_xabar {
    width: 100%;
    margin: 18px auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 386px;
    height: 100%;
    margin: 20px auto;
    
}

main .tezkor_xabar .card p {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 20px;
    margin-top: 9px;

    color: #202020;
}
main .tezkor_xabar .card .date p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 9px;
    color: #6B6D97;    
}
.iii{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}